<nav class="navbar">

    <div class="logo">
        <a href="{{ '/' | relative_url }}">
            {{ site.title }}
        </a>
    </div>

    <ul class="nav-links">

        <li>
            <a href="{{ '/about' | relative_url }}">About</a>
        </li>

        <li>
            <a href="{{ '/research' | relative_url }}">Research</a>
        </li>

        <li>
            <a href="{{ '/reviews' | relative_url }}">Reviews</a>
        </li>

        <li>
            <a href="{{ '/medium' | relative_url }}">Medium</a>
        </li>

        <li>
            <a href="{{ '/contact' | relative_url }}">Contact</a>
        </li>

    </ul>

</nav>
